:root {
    --accent-color: #39A7FF;
    --background-color: white;
}
  
.body {
    margin: 0;
}
  
a {
    text-decoration: none;
    color: var(--text-color);
}
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    margin: 5px;
}

.mypage {
    font-weight: bold;
}
  
.nav_logo {
      display: flex;
      font-size: 24px;
      color: var(--text-color);
      margin-right: 20px;
}
  
.nav_logo a {
      color: var(--accent-color);
      font-weight: bold;
      margin-top: 10px;
}
  
.logo_img {
      display: flex;
      width: 50px;
      height: auto;
      border-radius: 20%;
      margin-right: 8px;
}
  
.nav_menu {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-right: auto;
}
  
.nav_menu li {
      padding: 8px 12px;
}
  
.nav_menu li:hover {
      color: var(--background-color);
      background-color: var(--accent-color);
      border-radius: 4px;
}
  
.nav_menu li a:hover {
      color: var(--background-color);
}
  
.nav_login {
      display: flex;
      color: #B4B4B8;
      list-style: none;
      padding-left: 0;
}
  
.nav_login li {
      padding: 8px 5px;
}

.comment{
    max-width: 90%;
    margin: 0 auto;
}

.comment_top{
    border-top: 3px solid #008DDA;
}

.post_title{
    margin-top: 5px;
    margin-bottom: 5px;
}

.post_title1, .post_title2{
    display: inline;
}

.post_title1{
    color:#00A762;
}

.Info{
    border-top: 1px solid #000000;
    border-bottom: 3px solid #008DDA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.Info dl{
    display: inline-block;
}

.Info dl dt, dd{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.Info dl dt{
    margin-left: 5px;
    color: #B4B4B8;
}

.Info dl dd{
    margin-right: 10px;
    margin-left: 5px;
    color: #000000;
}

.writing{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #008DDA;
}

.btn_view{
    display: flex;
    float: right;
    padding: 10px;
    margin: 5px;
}

.btn_view a{
    padding: 10px;
    border-radius: 10px;
    background-color: #87C4FF;
}

.reco_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_reco{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width:100px;
    height: 70px;
    background-color: #87C4FF;
    border-radius: 15px;
    margin-left: 10%;
}

.btn_reco i{
    font-size: 40px;
    margin-right: 10px;
}

.btn_reco div{
    font-size: 14px;
    font-weight: bold;
}

.comment_cnt{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1%;
}

.comment1, .comment2, .comment3{
    background-color: #E0F4FF;
    border-radius: 15px;
    display: flex;  
    width:100%;
    height: 100%;
    margin-bottom: 1%;
    flex-direction: column;
}

.user {
    display: flex;
    align-items: left;
    justify-content: space-between;
    border-bottom: 2px solid #008DDA;
    border-width: 100%;
    width: 98%;
    height: 40%;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 0.5%;
}

.write{
    height: 30px;
    margin-left: 1%;
    margin-top: 0.5%;
}

.user_name{
    color: #000000;
}

.date{
    color: #8B989F;
}

.post_search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_sort, .community_searchtext {
    font-size: 1.5rem;
}

input::placeholder{
    font-size: 1rem;
}

.post_sort{
    border-color: #EFEFEF;
    font-size: 1rem;
}

.community_searchtext{
    margin-left: 1%;
    border-color: #EFEFEF;
    color: #EFEFEF;
}

.community_searchbtn{
    width: 3%;
    background-color: #87C4FF;
    border-style: none;
    color: #FFFFFF;
    height: 33px;
}

.comment_page{
    margin-top: 5%;
    text-align: center;
    font-size: 0;
}

.comment_page a{
    display: inline-block;
    width: 32px;
    height: 43px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #008DDA;
    border-left: 1;
    line-height: 100%;
    margin-bottom: 15px;
}

.comment_page a.bt{
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.comment_page a.num{
    padding-top: 9px;
    font-size: 1.4rem;
}

.comment_page a.num.on{
    border-color: #008DDA;
    background: #39A7FF;
    color: #FFFFFF;
}

.comment_page a:first-child {
    border-left: 1px solid #008DDA;
}


@media all and (max-width: 960px) {
    .nav_logo {
        font-size: 16px;
      }
    
      .nav_menu li {
        padding: 6px 4px;
    }
    
    .first_content{
        width: 300px;
    }

    .menu_right{
        margin-left: 1%;
    }

    .community_searchbtn {
        font-size: 15px;
        width: 10%;
        height: 23px;
    }

    .community_searchtext {
        font-size: 15px;;
    }
}

@media (max-width:520px) {
    .first_name{
        font-size: 17px;
    }
}