  .hello_box {
    width: 30%;
    height: 300px;
    background-color: #87C4FF;
    border-radius: 15px;
    margin-left: 30px;
  }
  
  .date {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .hello_logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
  }
  
  .hello_user {
    margin-top: 20px;
    margin-left: 110px;
    font-weight: bold;
  }
  
  .hello_dang {
    font-size: 30px;
    color: white;
  }
  
  .hello_ment {
    font-size: 24px;
    color: white;
  }
  
  .hello_inbox {
    width: 360px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    margin: 60px auto;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top:7%;
  }
  
  .hello_inbox_dang, .hello_inbox_kcal {
    font-weight: bold;
  }
  
  .hello_inbox_dang, .hello_inbox_kcal {
    display: flex;
    flex-direction: column; 
    align-items: center;
    list-style: none;
    margin: 0 4px;
  }
  
  .inbox_line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -30px;
    font-size: 64px;
  }
  
  .inbox_dang_ment, .inbox_kcal_ment {
    font-size: 20px;
  }
  
  .inbox_dang, .inbox_kcal {
    font-size: 30px;
  }
  
  .login_sign {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color:#39A7FF;
    color: white;
    font-size: 25px;
    margin-top : 20px;
  }
  
  
  .container {
    display: flex;
    gap: 50px;
    width: 100%;
  }
  
  
  .recommend {
    width: 63%;
    height: 380px;
    justify-content: space-between;
  }
  
  .recommend_name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .first_line, .last_line {
    width: auto;
    height: 3px;
    background-color: #008DDA;
  }
  
  .first_line {
    margin-top: 10px;
  }
  
  .menu_card {
    display: flex;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10px;
  }
  
  .menu_image_wrapper {
    margin-right: 20px;
  }
  
  .menu_info {
    margin-top: 30px;
  }
  
  .menu_image {
    width: 130px;
    height: 130px;
    border-radius: 15px;
  }
  
  .menu_brand {
    color: #AEAEAE;
    font-size: 20px;
    font-weight: bold;
  }
  
  .menu_name {
    font-weight: bold;
    font-size: 20px;
  }
  
  .menu_detail {
    font-size: 16px;
    font-weight: bold;
  }
  
  .menu_detail span {
    margin-right: 5px;
  }
  
  .menu_pair {
    display: flex;
    flex-direction: row;
  }
  
  .last_line {
    margin-top: 30px;
  }
  
  
  .brand {
    width: 95%;
    margin-left: 30px;
    margin-top: 50px;
  }
  
  .brand_ment_plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand_ment {
    font-size: 23px;
    font-weight: bold;
    color: black;
  }
  
  .brand_plus {
    font-size: 16px;
    color: #B4B4B8;
    text-decoration: underline;
  }
  
  .brand_top5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .brand_top5 a {
    flex: 1 1 18%;
    margin: 10px;
    display: flex;
    justify-content: center;
    min-width: 100px;
  }
  
  .brand_top5 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
  }
  
  @media screen and (max-width: 960px) {
    .container {
        flex-direction: column;
    }
  
    .hello_box {
      width: 90%;
    }
  
    .hello_login_sign,
    .recommend,
    .brand {
        width: 90%;
        margin-bottom: 20px;
        justify-content: center;
    }
  
    .recommend_name {
        display:flex;
        align-self: flex-start;
        font-size: 14px;
        writing-mode: horizontal-tb !important;
    }
  
    .menu_pair {
        width: 100%;
        margin-bottom: 10px;
        flex-direction: column;
    }
  
    .recommend {
        margin-left: 4.5%;
        margin-top: 10%;
    }
  
    .brand {
      margin-top: 65%;
    }
  }
  
  