.gongcha_logo{
    width: 85px;
    height: 85px;
    border-radius: 15px;
    border-width: 3px;
    border-color: #FFFFFF;
    margin-right: 10px;
    border-style: solid;
    display: flex;
    cursor: pointer;
}

.bkcolor_gongcha {
    max-width: 100%;
    background-color: #C32032;
}