:root {
    --accent-color: #39A7FF;
    --background-color: white;
}
  
.body {
    margin: 0;
}
  
a {
    text-decoration: none;
    color: var(--text-color);
}
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    margin: 5px;
}

.home {
    font-weight: bold;
}
  
.nav_logo {
      display: flex;
      font-size: 24px;
      color: var(--text-color);
      margin-right: 20px;
}

.nav_logo a {
      color: var(--accent-color);
      font-weight: bold;
      margin-top: 10px;
}

.logo_img {
      display: flex;
      width: 50px;
      height: auto;
      border-radius: 20%;
      margin-right: 8px;
}
  
.nav_menu {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-right: auto;
}
  
.nav_menu li {
      padding: 8px 12px;
}
  
.nav_menu li:hover {
      color: var(--background-color);
      background-color: var(--accent-color);
      border-radius: 4px;
}
  
.nav_menu li a:hover {
      color: var(--background-color);
}
  
.nav_login {
      display: flex;
      color: #B4B4B8;
      list-style: none;
      padding-left: 0;
}
  
.nav_login li {
      padding: 8px 5px;
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
}

.center_logo {
    display: flex;
    font-size: 36px;
    color: var(--text-color);
    margin-right: 10px;
}

.logo_ment {
    margin-top: 10px;
    font-weight: bold;
    color: #39A7FF;
}

.logo_message {
    font-weight: bold;
    font-size: 40px;
}



.login_sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
}

i {
    float: left;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 50px;
}

.id {
    margin-top: 20px;
    width: 450px;
    height: 60px;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: #B4B4B8;
}

.pw {
    margin-top: 20px;
    width: 450px;
    height: 60px;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: #B4B4B8;
}

.id_pw {
    display: flex;
    color: #B4B4B8;
    list-style: none;
    padding-left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 1vh;
    margin-top: 50px;
}

.id_pw li {
    padding: 8px 5px;
}



.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.question_ment {
    color: #B4B4B8;
    float: left;
}

.quetion_sign {
    font-size: 20px;
    color: #39A7FF;
    text-decoration: underline;
    margin-left: 60px;
}

.login_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* 원하는 높이로 설정하세요 */
}

.login_button {
    width: 450px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    background-color: #39A7FF;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
