.hello_box {
    width: 30%;
    height: 300px;
    background-color: #87C4FF;
    border-radius: 15px;
    margin-left: 30px;
  }
  
  .date {
    font-size: 20px;
    color: white !important;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .hello_logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
  }
  
  .hello_user {
    margin-top: 20px;
    margin-left: 110px;
    font-weight: bold;
  }
  
  .hello_dang {
    font-size: 30px;
    color: white;
  }
  
  .hello_ment {
    font-size: 24px;
    color: white;
  }
  

  .login_dang_caf_kcal {
    display: flex;
    flex-direction: column;
  }
  
  .login_dang, .login_caf, .login_kcal {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
  }
  
  .dang_img, .caf_img, .kcal_img {
    width: 40px;
    height: 40px;
  }
  
  .login_dang_graph, .login_caf_graph, .login_kcal_graph {
    width: 80%;
    height: 30px;
    background-color: white;
    margin-left: 5%;
    border-radius: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .eat_dang_graph {
    background-color: #39A7FF;
    width: 50%;
    height: 30px;
    border-radius: 50px;
  }

  .eat_caf_graph {
    background-color: #39A7FF;
    width: 63%;
    height: 30px;
    border-radius: 50px;
  }

  .eat_dang_graph, .eat_caf_graph, .eat_kcal_graph {
    padding-left: 15px;
    display: flex;
    align-items: center;
  }

  
  .goal_button {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color:#39A7FF;
    color: white;
    font-size: 25px;
    margin-top : 10%;
  }
  
  
  .container {
    display: flex;
    gap: 50px;
    width: 100%;
  }
  
  
  .star_today {
    width: 63%;
    height: 380px;
    justify-content: space-between;
  }
  
  .star_name, .today_name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .first_line, .middle_line, .last_line {
    width: auto;
    height: 3px;
    background-color: #008DDA;
  }
  
  .first_line, .middle_line {
    margin-top: 10px;
  }
  
  
  .star, .today {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .star_click, .today_click {
    width: 100px;
    height: 50px;
    background-color: #008DDA;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .star_right, .today_right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .star_container, .today_container {
    display: flex;
  }
  
  .star_name_plus, .today_name_plus {
    display: flex;
    justify-content: space-between;
  }
  
  .star_plus, .today_plus {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    color: #B4B4B8;
    text-decoration: underline;
  }
  
  .last_line {
    margin-top: 30px;
  }
  
  
  .Brand {
    width: 95%;
    margin-left: 30px;
    margin-top: 50px;
  }
  
  .Brand_ment_plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Brand_ment {
    font-size: 23px;
    font-weight: bold;
    color: black;
  }
  
  .Brand_plus {
    font-size: 16px;
    color: #B4B4B8;
    text-decoration: underline;
  }
  
  .Brand_top5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .Brand_top5 a {
    flex: 1 1 18%;
    margin: 10px;
    display: flex;
    justify-content: center;
    min-width: 100px;
  }
  
  .Brand_top5 img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #bfbfbf;
  }
  
  @media screen and (max-width: 960px) {
    .container {
        flex-direction: column;
    }
  
    .hello_box {
      width: 90%;
    }
  
    .hello_login_sign,
    .star_today,
    .Brand {
        width: 90%;
        margin-bottom: 20px;
        justify-content: center;
    }
  
    .star_name, .today_name {
        display:flex;
        align-self: flex-start;
        font-size: 14px;
        writing-mode: horizontal-tb !important;
    }
  
    .star, .today {
        width: 100%;
        margin-bottom: 10px;
        flex-direction: column;
    }
  
    .star_today {
        margin-left: 4.5%;
        margin-top: 10%;
    }
  
    .menu_brand, .menu_name {
      font-size: 15px;
    }
  
    .menu_detail {
      font-size: 13px;
    }
  
    .star_click, .today_click {
      width: 80px;
      height: 40px;
      font-size: 20px;
    }
  
    .Brand {
      margin-top: 5%;
    }
  }