.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    height: 10vh;
}

.form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    height: 70vh;
}

.box {
    width: 500px;
    height: 260px;
    background-color: #E0F4FF;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #B4B4B8;
}

.userid {
    color: black;
}

.login_button, .searchid_button, .sendtempw_button {
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    background-color: #39A7FF;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.pw_re_button {
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    background-color: #39A7FF;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
