.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
}

.center_logo {
    display: flex;
    font-size: 36px;
    color: var(--text-color);
    margin-right: 10px;
}

.logo_ment {
    margin-top: 10px;
    font-weight: bold;
    color: #39A7FF;
}

.logo_message {
    font-weight: bold;
    font-size: 40px;
}



.login_sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
}

i {
    float: left;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 50px;
}

.kakao_sign {
    width: 450px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: #F7E600;
}

.kakao_ment {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.email_sign {
    margin-top: 20px;
    width: 450px;
    height: 60px;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    background-color: #39A7FF;
    border-color: #39A7FF;
    color: white;
}

.email_ment {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    margin-top: -3%;
}

.question_ment {
    color: #B4B4B8;
    float: left;
}

.quetion_login {
    font-size: 20px;
    color: #39A7FF;
    text-decoration: underline;
    margin-left: 60px;
}