.bkcolor {
    max-width: 100%;
    background-color: #00A762;

}

.bdbox{
    max-width: 90%;
    height: 100px;
    margin: 0 auto;
}

.bdboxup{
    color: #FFFFFF;
    font-weight: bold;
    font-size:40px;
}

.bdboxdown{
    display: flex;
    justify-content: space-between;
}

.bdsrh{
    width:35%;
    height: 40px;
    position: relative;
    display: flex;
}

.bdsrh input{
    width: 100%;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    border-style: none;
    background-color: #FFFFFF;
}

.bdsrh button{
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 15px;
    border-style: none;
    background-color: #87C4FF;
}

.bdsrh button i{
    background-color: 87C4FF;
    font-size:large;
    color: #FFFFFF;

}

.bdsort {
    display: flex; 
    list-style: none;
    padding-left: 0;
    font-weight: bold;
    color:#D7D7D7;
}

.bdsort li {
    padding-left: 10px;

}

.basic{
    color: #000000;
}


.star_menu {
    width: 90%;
    margin: 0 auto;
}

.first_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3.5px solid #008DDA;
}

.first_image {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #bfbfbf;
}

.first_content {
    margin-left: 20px;
    width:30%;
    margin-right: auto;
}

.first_brand_menu_name {
    margin-left: 20px;
    margin-top: 15px;
}

.first_brand {
    color: #AEAEAE;
    font-size: 20px;
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.first_brand_menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-weight: bold;
}

.first_name {
    font-weight: bold;
    font-size: 20px;
}

.first_brand, .first_name {
    display: block;
}

.first_detail {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    font-weight: bold;
}

.menu_right {
    display: flex;
    align-items: center;
}

i {
    font-size: 40px;
}

.click {
    width: 100px;
    height: 50px;
    background-color: #008DDA;
    color: white;
    font-size: 24px;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.first_brand_menu a{
    margin-bottom: 10px;
}


@media all and (max-width: 960px) {
    .first_content{
        width: 300px;
    }

    .menu_right{
        margin-left: 1%;
    }

}

@media (max-width:520px) {
    .first_name{
        font-size: 17px;
    }
}
